<h2>USERS</h2>
<div class="dflex">
    <aside>
        <ul class="ul-users">
            <li *ngFor="let product of arrProduct">
                <span class="badge name">{{product.id}}</span> {{product.name}}
                <span class="badge"></span> {{product.price}}
                <a routerLink="/detail/{{product.name}}">
                    editar
                </a>
                <button class="btn" title="delete User" (click)="deleteProduct(product)">x</button>
            </li>
        </ul>
    </aside>

    <section>
        <form [formGroup]="productForm" (ngSubmit)="addProduct(productForm.value)">
            <label>Name</label>
            <input formControlName="name" type="text">
            <div *ngIf="productForm.get('name').hasError('required') && productForm.get('name').touched"> Is necessary
                Name
            </div>
            <br>
            <label>Price</label>
            <input formControlName="price" type="number">
            <div *ngIf="productForm.get('price').hasError('required') && productForm.get('price').touched">
                Is necessary Price
            </div>
            <br>
            <label>Type</label>
            <input formControlName="type" type="text">
            <div *ngIf="productForm.get('type').hasError('required') && productForm.get('type').touched">
                Is necessary Type
            </div>
            <br>
            <label>Image</label>
            <input formControlName="image" accept=".png, .jpg" type="file">
            <div *ngIf="productForm.get('image').hasError('required') && productForm.get('image').touched">
                Is necessary Image
            </div>
            <br>
            <button [disabled]="productForm.invalid" type="submit">New Product</button>
        </form>
    </section>
</div>