<h2>USUARIOS</h2>
<div class="dflex">
  <aside>
    <ul class="ul-users">
      <li *ngFor="let user of arrUsers">
        <span class="badge">{{user._id}}</span> {{user.email}}
        <a routerLink="/detail/{{user.email}}">
          editar
        </a>
        <button class="btn" title="delete User"
          (click)="deleteUser(user)">x</button>
      </li>
    </ul>
  </aside>

  <section>
    <label>Email:
      <input #userEmail />
    </label>
    <label>Password:
      <input #userPassword />
    </label>
    <button (click)="addUser(userEmail.value,userPassword.value)">New Worker</button>
    <button (click)="cancel()">Discard Changes</button>
  </section>
</div>