$colorbgdata: #F2F2F2;
:host{
    background-color: $colorbgdata;
    padding: 4%;
    border-radius: 20px;
    box-shadow: grayscale($color: #000000);
}
aside{
    width: 60%;
    padding-right: 2%;
}
section{
    width: 40%;
    padding-left: 2%;
}
.ul-users{
    list-style-type: none;
    padding-inline-start:0px;
}
.ul-users li {
    // position: relative;
    // cursor: pointer;
    background-color: rgb(221, 217, 217);
    margin: .5em 0em;
    padding: .3em 0;
    // height: 1.6em;
    border-radius: 4px;
    display: flex;
    justify-content:space-between;
  }
  
.ul-users li:hover {
    left: .1em;
}
.ul-users .badge{
    // display: inline-block;
    font-size: small;
    color: white;
    padding: 1em 1.2em 0 1.2em;
    background-color: grey;
    // line-height: 1em;
    // position: inherit;
    // left: -1px;
    // top: -4px;
    // height: 1.8em;
    min-width: 16px;
    // text-align: right;
    // margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.btn{
  background-color: gray;
  color: white;
}
