$colorbgdata: #F2F2F2;
:host{
    background-color: $colorbgdata;
    padding: 4%;
    border-radius: 20px;
    box-shadow: grayscale($color: #000000);
}
aside{
    width: 60%;
}
section{
    width: 40%;
}
