// $colorbutton:#C6D936;
$colorbutton:#A9BF04;

aside{
    width: 60%;
    padding-right: 2%;
}
section{
    width: 40%;
    // padding-left: 1%;
}
.ul-users{
    list-style-type: none;
    padding-inline-start:0px;
}
.ul-users li {
    background-color: rgb(221, 217, 217);
    margin: 1em 0em;
    height: 2.5em;
    border-radius: 4px;
    display: flex;
    justify-content:space-between;
  }
  
.ul-users li:hover {
    left: .1em;
}
.ul-users .badge{
    font-size: small;
    color: white;
    padding: 1em 1.2em 0 1.2em;
    background-color: grey;
    min-width: 16px;
    border-radius: 4px 0 0 4px;
}
.btn{
  background-color: gray;
  color: white;
}
.right{
    justify-self: right;
}
aside button{
    margin-left: 10%;
    // background-color: $colorbutton;
}
fieldset{
    align-self: center;
    padding: 0% 10% 10%;
    border-radius: 1%;
    border: 1px dotted gray;
}
form label{
    display: block;
    margin: 1em 0em 0.5em;
}
form input{
    width: 100%;
}
form button{
    margin-top: 10%;
}
