<nav>
    <p class="infouser">user: {{ currentUserEmail }} </p>
    <button class="btn btn-lg" (click)="navigateToOrders()">🍔 Orders </button>
    <button class="btn btn-lg" (click)="navigateToPendings()">⏰ Orders List</button>
    <button class="btn btn-lg" (click)="navigateToKitchen()">👩‍🍳 Kitchen </button>
    <button *ngIf="currentUserAdmin==='true'" class="btn btn-lg" (click)="navigateToUsers()">👔 Users </button>
    <button *ngIf="currentUserAdmin==='true'" class=" btn btn-lg" (click)="navigateToProducts()">📑 Products </button>
    <button id="btnlogout" class="btn btn-danger" (click)="navigateToLogin()">LogOut</button>
</nav>
<section class="main">
    <router-outlet></router-outlet>
</section>