$colorbg: #f2bf27;
$colorbgnav: #D99255;
$colorbguser: #d91e0d;
$colortext: #2E2C2C;
:host{
    background-color: $colorbg;
    padding: 2%;
    height: 100vh;
    display: flex;
}

// section{
//     background-color: $colorbg;
//     padding: 2%;
//     height: 100vh;
// }

nav{
    background-color: $colorbgnav;
    // padding: 2% 0% 2% 2%;
    width: 20%;
    border-radius: 10px;
}

.infouser{
    margin: 5% 5% 40%;
    padding-top: 2%;
    height: 10%;
    text-align: center;
    box-sizing: border-box;
    background-color: $colorbguser;
    border: 2px solid black;
}
#btnlogout{
    margin-top: 40%;
}
button{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}