$colorbg: #f2bf27;
$colorbgnav: #D99255;
$colorbguser: #d91e0d;
$colortext: #2E2C2C;
$colorbginfo: #f2f2f2;

:host{
    background-color: $colorbg;
    padding: 2%;
    height: 100vh;
    display: flex;
}

.main{
    width: 100%;
    background-color: $colorbginfo;
    padding: 2%;
    border-radius: 20px;
    box-shadow: grayscale($color: #000000);
}

nav{
    background-color: $colorbgnav;
    width: 20%;
    border-radius: 10px;
}

.infouser{
    margin: 5% 5% 20%;
    padding: 4% 0%;
    // height: 10%;
    text-align: center;
    box-sizing: border-box;
    background-color: $colorbguser;
    color: $colorbginfo;
    border: 2px solid grey;
}
#btnlogout{
    margin: 30% 5% 0%;
}
button{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}